src/laravelapp/node_modules
src/laravelapp/public/hot/
src/laravelapp/public/storage/
src/laravelapp/public/css/
src/laravelapp/public/js/
src/laravelapp/public/mix-manifest.json
src/laravelapp/storage/*.key
src/laravelapp/vendor/
src/laravelapp/.env
src/laravelapp/.env.backup
src/laravelapp/.phpunit.result.cache
src/laravelapp/Homestead.json
src/laravelapp/Homestead.yaml
src/laravelapp/npm-debug.log
src/laravelapp/yarn-error.log
src/laravelapp/composer.lock
src/laravelapp/package-lock.json
docker/db/data/
